@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles (light mode) */
/* Base styles (light mode) */

body {
  background-color: #ffffff;
  color: #000000;
  background-image: url('./assets/bgnoice.png'); /* Light mode background image */
  background-position: center;
  background-attachment: fixed;
}

/* Dark mode styles */
body.dark {
  background-color: #121212;
  color: #ffffff;
  background-image: url('./assets/bgnoice.png'); /* Light mode background image */
  background-position: center;
  background-attachment: fixed;
}

/* Tailwind overrides for dark mode */
.dark .bg-black {
  background-color: #333333;
}

.dark .bg-gray-800 {
  background-color: #2d2d2d;
}

.dark .text-white {
  color: #ffffff;
}

.dark .hover:text-gray-400 {
  transition: color 0.3s ease;
  color: #cccccc;
}

.bg-noice {
  background-image: url('./assets/bgnoice.png');
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'MyFont1';  /* Name to refer to the font in your styles */
  src: url('./assets//fonts/font1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont2';  /* Name to refer to the font in your styles */
  src: url('./assets//fonts/font2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyFont3';  /* Name to refer to the font in your styles */
  src: url('./assets//fonts/font3.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyFont4';  /* Name to refer to the font in your styles */
  src: url('./assets//fonts/font4.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyFont5';  /* Name to refer to the font in your styles */
  src: url('./assets//fonts/font5.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* App.css or a global CSS file */
.path-animation {
  animation: draw 2.5s ease-in-out infinite, fadeIn 0.5s ease-in-out;
  stroke-dasharray: 5000; /* Set it larger than the path length */
  stroke-dashoffset: 5000; /* Start with the path hidden */
}

/* Animation to draw the path */
@keyframes draw {
  0% {
    stroke-dashoffset: 5000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Fade-in effect for the entire SVG */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
@import "https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css";

.logo {
  position: relative;
}

.vertical-line {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #aeb4c1; /* Change color as needed */
  transform: translateX(-50%);
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes bounceOnce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-out forwards;
}

.animate-bounceOnce {
  animation: bounceOnce 1s ease-in-out;
}
